<section id="recommendations" class="section recommendations">
    <div class="container">
        <h1 class="title">You'd might also like...</h1>

        <div v-if="hasRecommendations">
            <div class="recommendation" v-for="product in products">
                <div style="width:image width px; font-size:80%; text-align:center;"><img v-bind:src="product.imageUrl" v-bind:alt="product.price" width="width" height="height" style="padding-bottom:0.5em;" />{{ product.description }}</div>
            </div>
        </div>
        <div v-else>
            <div class="notification is-warning">
                <strong>No recommendations</strong> Please buy some stuff and our advanced machine learning will suggest awesome products for you!
            </div>            
        </div>
        
    </div>
</section>