<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kubernetes Workshop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="title is-1">My Account</div>

            <hr />
        </div>
    </header>


    @Html.Partial("_Customer")
    @Html.Partial("_OrderHistory")
    @Html.Partial("_Recommendations")

    <footer class="footer">
        <div class="container has-text-centered">That's all folks!</div>
    </footer>

<script>
    window.baseUrl = "@Context.Request.PathBase.ToString()";
</script>

    <script src="~/frontpage.bundle.js"></script>

</body>
</html>